* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.hero {
  background-color: #1F2937;
  display:flex;
  flex-direction: column;
  height: 500px;
  padding: 0 200px; 
}

.header {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.header > ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
  margin-left: auto;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
  text-decoration: none;
}

.header-link {
  gap: 1em;
  font-size: 18px;
  color: #E5E7EB;
  display: flex;
  text-decoration: none;
}

.banner {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #E5E7EB;
  margin: auto 0;
  gap: 40px;
}

.banner-left > h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0;
}

.banner-left > p {
  margin: 0 0 10px 0;
}

.banner-left > button {
  background-color: #3882F6;
  border-radius: 4px;
  border: 0;
  color: #F9FAF8;
  padding: 7px 25px;
  font-weight: bold;
}

.hero-img-placeholder {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.middle {
  display: flex;
  padding: 0 200px;
  flex-direction: column;
  align-items: center;
  height: 450px;
  padding: 0 200px;
}

.middle > h2 {
  margin: 25px 0;
  font-size: 1.9em;
}

.middle > ul {
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.middle > ul > li {
  display: flex;
  flex-direction:column;
  justify-content: center;
  width: 150px;
  text-align: center;
}

.middle > ul > li > p {
  margin: 6px 0 0 0;
  color: #3a3a3a;
}

.middle-img-placeholder {
  border-radius: 15px;
  border-color: #3882F6;
  border-width: 3px;
  border-style: solid;
  height: 150px;
  width: 150px;
}

.quote {
  display: flex;
  background-color: #E5E7EB;
  color: #1F2937;
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
  flex-direction: column;
  --width: 850px;
  width: var(--width);
  padding: 100px calc(50% - (var(--width) / 2));
}

.quote > blockquote {
  margin-bottom: 0;
  padding-left: 25px;
}

.quote > cite {
  font-style: normal;
  align-self: flex-end;
  font-size: 25px;
  font-weight: bold;
  margin-right: 30px;
}